<ion-view title="MEME" id="page4" style="">
  <ion-content padding="true" class="has-header">
    <ion-list id="mEME-list3">
      <ion-item class="item-thumbnail-left" id="mEME-list-item1" ui-sref="tabsController.imageTiles" style="">
        <h2>Vadivel Meme</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="mEME-list-item2" ui-sref="tabsController.imageTiles" style="">
        <h2>Senthil Meme</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="mEME-list-item3" ui-sref="tabsController.imageTiles" style="">
        <h2>Goundamani Meme</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="mEME-list-item4" ui-sref="tabsController.imageTiles" style="">
        <h2>Santhanam Meme</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left positive" id="mEME-list-item5" ui-sref="tabsController.imageTiles" style="">
        <h2positive>Political Meme</h2positive>
      </ion-item>
      <ion-item class="item-thumbnail-left positive" id="mEME-list-item6" ui-sref="tabsController.imageTiles" style="">
        <h2positive>Political Meme</h2positive>
      </ion-item>
      <ion-item class="item-thumbnail-left positive" id="mEME-list-item7" ui-sref="tabsController.imageTiles" style="">
        <h2positive>Political Meme</h2positive>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>